<div>
    <h2>Materias Disponibles</h2>
    <ul>
        <li *ngFor="let materia of materias" 
            [ngClass]="{'inscrito': estaInscrita(materia)}">
            {{ materia }}
            <button (click)="inscribirMateria(materia)" 
                    [disabled]="estaInscrita(materia)">Inscribirse</button>
        </li>
    </ul>

    <h3>Materias Inscritas</h3>
    <ul>
        <li *ngFor="let materia of materiasInscritas">
            {{materia.nombre}} - Del {{materia.inicio | date}} al {{materia.fin | date}}
        </li>
    </ul>
</div>
